# No whitespace after the comma or in your part name!
config SHIELD_MARCIKEY_LEFT
    def_bool $(shields_list_contains,marcikey_left)

# No whitespace after the comma or in your part name!
config SHIELD_MARCIKEY_RIGHT
    def_bool $(shields_list_contains,marcikey_right)